<nav is="flynt-navigation-main" class="flyntComponent {{ fdn_transparent_overlap_menu ? 'overlap' }}" aria-label="{{ __("Main", "flynt") }}">
	<div class="wrapper">
		<div class="container header-left">
			<a href="{{ site.link }}">
				<img class="logo-image" src="{{ logo.src }}" alt="{{ logo.alt }}">
			</a>
		</div>
		<div class="container centerMaxWidthContainer header-right">
			<div class="header-rows">
				<div class="language-selector">
					<div class="button-wrapper">
						{# <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="{{ donateId }}">
							<button type="submit">DONATE</button>
						</form> #}
						{# <button>EN</button>
						<button style="color:rgba(255,255,255,0.6);">FR</button> #}
						{% do action('wpml_add_language_selector') %}
					</div>
				</div>
					{% if menu %}
						<ul class="menu">
							{% for item in menu.items %}
								<li class="menu-item {{ item.classes[0] }} {{ item.current ? 'menu-item--current' }}">
									<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
									{% if item.get_children %}
										<ul class="menu menu-submenu">
											{% for child in item.get_children %}
												<li class="menu-item {{ child.current ? 'menu-item--current' }}">
													<a class="menu-link" href="{{ child.link }}" {{ child.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ child.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						{% endif %}
					</div>
			<div>
		</div>
	</nav>
